body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message-container{
  margin: 30px;
  border: 2px solid blueviolet;
  width: 300px;
}

.message-container:hover{
  transform: scale(1.05);
  border: 2px solid greenyellow;
}

.message-ele{
  margin-left: 5px;
}

.new-msg{
  text-decoration: none;
}